<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<test verbose="2" name="BestBuy_TestCases">
    <parameter name="Browser" value="Chrome" />
    <parameter name="URL" value="https://www.bestbuy.com/?intl=nosplash" />
    <classes>
        <class name="BestBuy.TestBestBuyPage">
            <parameter name="login-email" value="testguy4@yopmail.com"/>
            <parameter name="login-password" value="CarlosTesting123"/>
            <parameter name="recovery-phone" value="3121235431"/>
            <methods>
                <exclude name="firstTest"/>
                <exclude name="validateRecoveryPhoneNumber"/>
            </methods>
        </class>
        <class name="BestBuy.TestCreateAccount">
            <parameter name="first-name" value="Carlos"/>
            <parameter name="last-name" value="Alvarado"/>
            <parameter name="email" value="testguy4@yopmail.com"/>
            <parameter name="password" value="CarlosTesting123"/>
            <parameter name="phone-number" value="871‑495‑1632"/>
            <methods>
                <exclude name="createAccountTest"/>
            </methods>
        </class>
        <class name="BestBuy.TestCart">
            <methods>
                <include name="buyItemWithoutLogin"/>
            </methods>
        </class>
        <class name="BestBuy.TestLogin">
            <parameter name="email" value="testguy4@yopmail.com"/>
            <parameter name="password" value="CarlosTesting123"/>
            <methods>
                <include name="login"/>
            </methods>
        </class>
    </classes>
</test>
</suite>